:root {
  --background-color: #191a39ff;
  --font-color: #ffffff;

  --main-color: #f72585;
  --secondary-color: #54389cff;
  --ternary-color: #ff4c9d;
  --tape-color: rgba(84, 56, 156, 0.3);

  --font-size: clamp(1rem, 2vw, 1.5rem);
  --font-size-small: clamp(0.75rem, 1vw, 1rem);
  --font-size-medium: 1.8rem;
  --font-size-large: 2.5rem;
  --font-size-title: clamp(3rem, 10vw, 5rem);

  --font-fallback: "DM Sans", sans-serif;
  --font-medium: "nudicamedium", var(--font-fallback);
  --font-regular: "nudicaregular", var(--font-fallback);
  --font-thin: "nudicathin", var(--font-fallback);
  --font-bold: "nudicabold", var(--font-fallback);
  --font-ultralight: "nudicaultralight", var(--font-fallback);
  --font-light: "nudicalight", var(--font-fallback);
}

* {
  padding: 0;
  margin: 0;
  color: var(--font-color);
  box-sizing: border-box;

  font-family: var(--font-ultralight);
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 0.07em;
  text-underline-offset: 0.2em;
}

html {
  height: 100%;
  background-color: var(--background-color);
}

img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
  user-select: none;         /* Standard */
}

body {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  padding-top: 0;
}

.header {
  width: 100%;
}

.main {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  /* Move the mobile top padding here */
  padding-top: min(20%, var(--font-size-title));
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title > * {
  font-family: var(--font-light);
  font-size: var(--font-size-title);
  color: var(--main-color);
  line-height: 93%;
}

.title__svg {
  width: 3.8em;
  height: auto;

  /* the overlap between the image and the title */
  margin-bottom: -18px;
  z-index: 2;

  pointer-events: none;
}

.title__text {
  position: relative;
  z-index: 1;
}

.content {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content > * {
  font-size: var(--font-size);
  text-align: center;
  line-height: 1.1em;
}

.footer {
  width: 100%;
  padding: 0.5em;
}

.footer > * {
  font-size: var(--font-size-small);
  text-shadow: 0px 0px 5px black;
}

.text-highlight {
  color: var(--ternary-color);
  font-family: var(--font-regular);
  word-break: keep-all;
  white-space: nowrap;
}

.construction-tape {
  background-image: repeating-linear-gradient(
    45deg,
    var(--background-color),
    var(--background-color) 20px,
    var(--tape-color) 20px,
    var(--tape-color) 40px
  );
}
@media (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    padding-top: 0;
  }

  .title {
    align-items: flex-end;
  }

  .content {
    max-width: 50vw;
    margin: 0;
  }
}