:root {
  --background-color: #191a39ff;
  --font-color: #ffffff;

  --main-color: #f72585ff;
  --secondary-color: #54389cff;
  --ternary-color: #ef1a24ff;

  --font-size: 20pt;
  --font-size-medium: 24pt;
  --font-size-large: 36pt;
  --font-size-title: 50pt;

  --font-fallback: "DM Sans", sans-serif;
  --font-medium: "nudicamedium", var(--font-fallback);
  --font-regular: "nudicaregular", var(--font-fallback);
  --font-thin: "nudicathin", var(--font-fallback);
  --font-bold: "nudicabold", var(--font-fallback);
  --font-ultralight: "nudicaultralight", var(--font-fallback);
  --font-light: "nudicalight", var(--font-fallback);
}

* {
  padding: 0;
  margin: 0;
  color: var(--font-color);
  box-sizing: border-box;

  font-family: var(--font-ultralight);
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

html {
  height: 100%;
  background-color: var(--background-color);
}

body {
  height: 100%;
  padding-top: min(20%, var(--font-size-title));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title > * {
  font-family: var(--font-light);
  font-size: var(--font-size-title);
  color: var(--main-color);
  line-height: 93%;
}

.title__svg {
  width: 3.8em;
  height: auto;
  margin-bottom: -18px;
  z-index: 2;
}

.title__text {
  position: relative;
  z-index: 1;
}

.content {
  padding: 4em 0;
}

.content > * {
  font-size: var(--font-size);
  text-align: center;
  margin-bottom: 0.5em;
}

.content__icon {
  font-size: var(--font-size-large);
}